
.swapi{
    /* background-color: aqua; */
    width: 100%;
}
.img2{
    /* padding-right:  10px;
    margin-right: 30px; */
    margin: 30px auto;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    
}